[Unit]
Description=Run automatic GNOME settings dump

[Timer]
RandomizedDelaySec=120
OnCalendar=*-*-* 20:00:00
Persistent=true

[Install]
WantedBy=timers.target
