title    Arch Linux
linux    /vmlinuz-linux
{% if use_intel_ucode == True -%}
initrd   /intel-ucode.img
{% endif %}
initrd   /initramfs-linux.img
options  root={{ root_partition }} resume={{ swap_partition }} rw quiet
