title    {{ item.name }}
linux    /{{ item.vmlinuz_path }}
{% if use_intel_ucode == True -%}
initrd   /intel-ucode.img
{% endif %}
initrd   /{{ item.initramfs_path }}
options  nowatchdog intel_iommu=on iommu=pt root={{ root_partition }} resume={{ swap_partition }} rw rootflags=x-systemd.device-timeout=30 {%- if encrypt_disk == True %} rd.luks.options=discard rd.luks.name={{ encrypted_partition_uuid }}={{ lvm_vg_name }}{% endif %}
