title    Arch Linux
linux    /vmlinuz-linux
{% if use_intel_ucode == True -%}
initrd   /intel-ucode.img
{% endif %}
initrd   /initramfs-linux.img
{% if silent_boot == True %}
options  root={{ root_partition }} resume={{ swap_partition }} rw quiet loglevel=3 rd.systemd.show_status=auto rd.udev.log_priority=3 vt.global_cursor_default=0
{% else %}
options  root={{ root_partition }} resume={{ swap_partition }} rw
{% endif %}
