title    {{ item.name }}
linux    /{{ item.vmlinuz_path }}
initrd   /{{ cpu_brand }}-ucode.img
initrd   /{{ item.initramfs_path }}
options  nowatchdog nmi_watchdog=0 intel_iommu=on iommu=pt root={{ root_partition }} resume={{ swap_partition }} rw rootflags=x-systemd.device-timeout=30 {%- if encrypt_disk == True %} rd.luks.options=discard,timeout=30 rd.luks.name={{ luks_name }}{% endif %}
