assignments {
	desktop-environment {
		kwin_x11
		kwin_wayland
	}

	package-manager {
		pacman
	}

  // Terminal activities
  //
  // Allowing the scheduler to automatically assign the nice 0 for foreground activities is a
  // feature we're using now, but unfortunately Tmux runs in a client-server fashion, and the server
  // is the one who spawns the actual processes I'm running in the terminal. That means that while
  // the terminal is the foreground, the processes running in it are never going to be prioritized
  // as such.
  //
  // Because this is where I spend most of my time, it can be statically locked to the nice 1, right
  // after the nice 0 which is dedicated to foreground tasks. That means that when the foreground is
  // the terminal itself, it will be effectively the same as if it was running with nice 0.
  //
  // Ideally, system76-scheduler should allow for a "include match" sort of thing, where a process
  // that get matched could also include other processes to be assigned to that same profile.
  terminal nice=1 io=(best-effort)0 {
    include descends="tmux"

    // Allacrity is listed here because by default it's getting tagged by the "session-services"
    // rule, which forces it to be nice 9. This is not what I want, so I'm going to override it
    // here.
    //
    // Ideally, system76-scheduler should reassign a process to the `foreground` profile whenever it
    // gets notified by D-Bus SetForegroundProcess, but that's not seem to be the case.
    "/usr/bin/alacritty"
  }
}
