[user]
  name = Daniel Pereira
  email = daniel@garajau.com.br
  signingkey = BC277BE09E8A6F1059C3911B3E7884756312F945
[alias]
  co = checkout
  cm = commit
  rs = reset
  st = status
  wip = stash --include-untracked
  unwip = stash pop
  graph = log --graph --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
  uncommit = reset --soft HEAD^
  recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
  update-submodules = submodule update --init --remote --recursive
[init]
  defaultBranch = main
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  attributesfile = ~/.gitattributes
  autocrlf = input
  pager = delta
[commit]
  template = ~/.gitmessage
[push]
  default = current
  followTags = true
  autoSetupRemote = true
[pull]
  rebase = false
[rebase]
  autoStash = true
[branch "master"]
  remote = origin
  merge = refs/heads/master
  rebase = true
[branch "main"]
  remote = origin
  merge = refs/heads/main
  rebase = true
[diff "rspec"]
  xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario|background)[ \t].*)$"
[diff "swift"]
  xfuncname = ^[ \t]*((class|func)[ \t].*)$
[diff "sqlite"]
  textconv = echo .dump | sqlite3

;; Use delta as git diff tool
[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  line-numbers = true

  # delta detects terminal colors automatically; set one of these to disable auto-detection
  # dark = true
  # light = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

;; Include static configuration work-related
[include]
  path = ~/.gitconfig-work-global

;; Override settings for anything under Projects folder (work-related)
;; This must be added as last entry so it can take precedence and override attributes
;; The trailing slash is required
[includeIf "gitdir:~/Projects/"]
  path = ~/.gitconfig-work-projects
