# My gitconfig
#

[user]
	name = AUTHORNAME
	email = AUTHOREMAIL
	signingkey = GPG_SIGNING_KEY
[credential]
	helper = GIT_CREDENTIAL_HELPER
[alias]
	co = checkout
	cm = commit
	rs = reset
	st = status
	wip = "!git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit -m '--wip--'"
	unwip = "!git log -n 1 | grep -q -c -- --wip-- && git reset HEAD~1"
	graph = log --graph --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	uncommit = reset --soft HEAD^
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[gpg]
	program = gpg
[commit]
	template = ~/.gitmessage
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = current
