/* GLOBALS */
stage {
  font-size: 1.1em;
}

/* Common Stylings */
.screenshot-ui-panel, .workspace-switcher, .switcher-list, .resize-popup, .osd-window {
  font-size: 1.1em;
}

.message-dialog-content {
  font-size: 1.1em;
}

.message-dialog-content .message-dialog-title {
  font-size: 1.2em;
}

.prompt-dialog-error-label,
.prompt-dialog-info-label,
.prompt-dialog-null-label {
  font-size: 1em;
}

.end-session-dialog .end-session-dialog-battery-warning, .end-session-dialog .dialog-list-title {
  font-size: 1em;
}

.run-dialog .run-dialog-description {
  font-size: 1em;
}

/**
 * Sets a new baseline for all elements within the calendar, so all `em` measures below are based
 * upon this one
 */
.calendar {
  font-size: 2em;
}

.calendar .calendar-month-header .calendar-month-label {
  font-size: 0.5em;
}

.calendar .calendar-day-base {
  font-size: 0.4em;
}

.datemenu-today-button .day-label {
  font-size: 1em;
}

.datemenu-today-button .date-label {
  font-size: 1.3em;
}

/**
* Do not disturb switch label
*/
.message-list-controls {
  font-size: 1em;
}
