"*":
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Iosevka Nerd Font Mono"
    fontSize: 19
    invisibles:
      space: "."
    showInvisibles: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "5828e174-b018-7856-6966-4eef61b175c5"
  "file-icons":
    coloured: false
  linter: {}
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
    useBusySignal: false
  "markdown-preview":
    breakOnSingleNewline: true
  "one-dark-ui": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    smoothScrollOnFullScrollMotion: true
    statusBarModeStringStyle: "long"
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
