"*":
  core:
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Hack"
    fontSize: 16
    invisibles:
      space: "."
    showInvisibles: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "5828e174-b018-7856-6966-4eef61b175c5"
  linter: {}
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    breakOnSingleNewline: true
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    smoothScrollOnFullScrollMotion: true
    statusBarModeStringStyle: "long"
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
