" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Set clipboard to use system clipboard.
set clipboard+=unnamedplus

" Do incremental searching.
set incsearch

" Use intelliJ join for S-J
set ideajoin

" Enable highlight search results
set hlsearch

set smartcase
set ignorecase

let mapleader = "\<SPACE>"

" Don't use Ex mode, use Q for formatting.
map Q <nop>

map grd <Action>(GotoDeclaration)
map gri <Action>(GotoImplementation)

map Y y$
nmap <Leader>o o<Esc>
nmap <Leader>O O<Esc>

" Stay in visual mode while indenting
vmap < <gv
vmap > >gv

nmap \ <Action>(ActivateProjectToolWindow)

" Select last pasted text
nmap <Leader>v `[v`]

" Use CTRL-h,j,k,l to move between splits
nmap <C-h> <C-w>h<CR>
nmap <C-j> <C-w>j<CR>
nmap <C-k> <C-w>k<CR>
nmap <C-l> <C-w>l<CR>

nmap <Leader>q <Action>(CloseEditor)

" Use ]t and [t for tab navigation
nmap ]t <Action>(NextTab)
nmap [t <Action>(PreviousTab)

" Git status
nmap <Leader>gs <Action>(Git)

let g:highlightedyank_highlight_duration = "80"
let g:highlightedyank_highlight_foreground_color = "rgba(0, 0, 0, 255)"
let g:highlightedyank_highlight_color = "rgba(166, 210, 255, 255)"

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
set which-key
set surround
set highlightedyank
set matchit
set commentary
set vim-paragraph-motion
set sneak
set anyobject

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
