# My gitconfig
#

[user]
	name = {{ git_author.name }}
	email = {{ git_author.email }}
	signingkey = {{ git_author.gpg_signing_key }}
[alias]
	co = checkout
	cm = commit
	rs = reset
	st = status
	wip = "!git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit -m '--wip--'"
	unwip = "!git log -n 1 | grep -q -c -- --wip-- && git reset HEAD~1"
	graph = log --graph --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	uncommit = reset --soft HEAD^
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	autocrlf = input
[gpg]
	program = gpg
[commit]
	template = ~/.gitmessage
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = current
	followTags = true
[rebase]
	autoStash = true
[branch "master"]
	remote = origin
	merge = refs/heads/master
	rebase = true
[diff "rspec"]
	xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario|background)[ \t].*)$"
[diff "swift"]
	xfuncname = ^[ \t]*((class|func)[ \t].*)$
