[Unit]
Description=Run borgmatic backup on a daily basis

[Timer]
RandomizedDelaySec=120
OnCalendar=*-*-* 21:00:00
Persistent=true

[Install]
WantedBy=timers.target
