[Unit]
Description=Desktop status bar
PartOf=graphical-session.target
After=x-config.service herbstluftwm.service

[Service]
ExecStartPre=/bin/sh -c "rm -rf $XDG_RUNTIME_DIR/polybar/*.sock"
ExecStart=/usr/bin/polybar primary
ExecReload=/usr/bin/polybar-msg cmd restart
Restart=on-failure

[Install]
RequiredBy=xsession.target
