[Unit]
Description=qtile Window Manager
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/qtile start
ExecStopPost=/bin/systemctl --user stop graphical-session.target
Restart=no

[Install]
RequiredBy=xsession.target
