[Unit]
Description=Automatic screensaver
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/xss-lock --verbose --transfer-sleep-lock --session=${XDG_SESSION_ID} \
  --notifier="%h/.bin/screen-locker dim" \
  -- %h/.bin/screen-locker lock
Restart=on-failure
