[Unit]
Description=Watchmon automatic monitor arrangement
PartOf=graphical-session.target

[Service]
ExecStart=%h/.bin/watchmon -wc %h/.dotfiles/modules/twm/libexec/dh-watchmon
Restart=on-failure

[Install]
RequiredBy=xsession.target
