[Unit]
Description=Watchmon automatic monitor arrangement
PartOf=graphical-session.target
After=x-config.service

[Service]
ExecStart=%h/.bin/watchmon -c %h/.dotfiles/modules/twm/libexec/dh-watchmon
Restart=on-failure

[Install]
RequiredBy=xsession.target
