[Unit]
Description=wmcompanion is a utility for connecting system events to user actions
PartOf=graphical-session.target
After=x-config.service
After=polybar.service

[Service]
ExecStart=/usr/bin/wmcompanion
Restart=on-failure

[Install]
RequiredBy=xsession.target
