[Unit]
Description=X session managed by systemd
BindsTo=graphical-session.target

Wants=watchmon.service
Wants=inputplug.service
Wants=wmcompanion.service
Wants=x-config.service
Wants=xsettingsd.service
Wants=xssproxy.service
Wants=kbdd.service
Wants=playerctld.service
Wants=picom.service
Wants=screensaver.service
Wants=dunst.service
Wants=polybar.service
Wants=herbstluftwm.service
