[Unit]
Description=X session managed by systemd
BindsTo=graphical-session.target

# Dependencies
Wants=watchmon.service
Wants=watchpower.service
Wants=inputplug.service
Wants=x-config.service
Wants=qtile.service
