---
- name: enable irqbalance
  become: true
  ansible.builtin.service:
    name: irqbalance
    state: started
    enabled: yes

- name: disable watchdogs
  become: true
  notify: rebuild initramfs
  ansible.builtin.copy:
    dest: /etc/modprobe.d/blacklist_watchdog.conf
    content: |
      # Disable loading watchdog modules as they aren't necessary in laptop/desktop configurations
      blacklist iTCO_wdt

      # Disables the watchdog present on AMD Ryzen chipsets
      blacklist sp5100_tco

# See: https://github.com/pop-os/default-settings/pull/149
# See: https://www.phoronix.com/forums/forum/software/general-linux-open-source/1334042-linux-5-19-looking-real-good-on-the-hp-dev-one-xanmod-liquorix-also-tested
- name: use kyber as the default scheduler for nvme/ssds
  become: true
  ansible.builtin.copy:
    dest: /etc/udev/rules.d/60-nvme-scheduler.rules
    content: |
      # BFQ is recommended for slow storage such as rotational block devices and SD cards.
      ACTION=="add|change", SUBSYSTEM=="block", ATTR{queue/rotational}=="1", ATTR{queue/scheduler}="bfq"
      ACTION=="add|change", SUBSYSTEM=="block", KERNEL=="mmcblk?", ATTR{queue/scheduler}="bfq"

      # None is recommended for faster storage such as NVME and SATA SSDs.
      ACTION=="add|change", SUBSYSTEM=="block", ATTR{queue/rotational}=="0", KERNEL=="nvme?n?", ATTR{queue/scheduler}="none"
      ACTION=="add|change", SUBSYSTEM=="block", ATTR{queue/rotational}=="0", KERNEL=="sd?", ATTR{queue/scheduler}="none"

# See: https://www.apalrd.net/posts/2023/network_realtek8156
- name: use correct realtek driver for RTL8156 chip
  become: true
  ansible.builtin.copy:
    src: 50-usb-realtek-net.rules
    dest: /etc/udev/rules.d/50-usb-realtek-net.rules

- name: create systemd directory for overrides
  become: true
  ansible.builtin.file:
    state: directory
    mode: "0755"
    dest: /etc/systemd/system.conf.d

- name: set lower default timeouts for systemd
  become: true
  notify: reload systemd
  ansible.builtin.copy:
    dest: /etc/systemd/system.conf.d/10-timeouts.conf
    mode: "0644"
    content: |
      [Manager]
      DefaultTimeoutStartSec=15s
      DefaultTimeoutStopSec=15s
