---
- name: install development packages
  become: true
  community.general.pacman:
    state: present
    name:
      # Editors
      - neovim
      - tree-sitter-cli # neovim dependency
      - dbeaver

      # Utilities
      - jq
      - yq
      - shellcheck
      - github-cli

      # Pandoc
      - pandoc
      - texlive-core

      # Shell utils
      - ghostty
      - fzf
      - bat
      - git-delta
      - fd
      - yazi
      - eza
      - vivid
      - ripgrep
      - cowsay
      - ncdu
      - duf
      - xclip
      - tmux
      - nmap
      - traceroute

      # Python dev
      - python
      - python-pip
      - python-uv
      - python-poetry

      # Java dev
      - jdk-openjdk
      - gradle

      # DevOps tools
      - aws-cli
      - ansible
      - python-passlib # ansible dependency
      - terraform
      - kubectl
      - kubectx
      - helm
      - cilium-cli
      - fluxcd

      # Golang dev
      - go
      - golangci-lint

- name: install development packages (AUR)
  become: true
  become_user: "{{ user_name }}"
  aur:
    name:
      - asdf-vm
      - ansible-bundler
      - heroku-cli-bin
      - bruno-bin

      # AI
      - claude-code

      # Kubernetes
      - openlens-bin
      - krew
      - kubecolor
