[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
GenericName=Terminal
Comment=A new tmux window on the existing terminal emulator
Exec=/home/dpereira/.dotfiles/modules/kde/bin/terminal
TryExec=/home/dpereira/.dotfiles/modules/kde/bin/terminal
Icon=utilities-terminal
Categories=System;TerminalEmulator;
