[Unit]
Description=Desktop status bar
PartOf=graphical-session.target
After=x-config.service

[Service]
ExecStartPre=/bin/sh -c "rm -rf $XDG_RUNTIME_DIR/polybar/*.sock"
ExecStart=/usr/bin/polybar primary
ExecReload=/bin/sh -c "herbstclient lock; polybar-msg cmd restart; sleep 1; herbstclient unlock"
ExecStop=/usr/bin/polybar-msg cmd quit
Restart=on-failure

[Install]
RequiredBy=xsession.target
