[Unit]
Description=Xorg general static configuration
PartOf=graphical-session.target

[Service]
ExecStart=%h/.dotfiles/modules/twm/libexec/xorg-config
Type=oneshot
RemainAfterExit=false

[Install]
RequiredBy=xsession.target
