[Unit]
Description=Proxy between org.freedesktop.ScreenSaver and XSS
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.ScreenSaver
ExecStart=/usr/bin/xssproxy -v
Restart=on-failure

[Install]
RequiredBy=xsession.target
